*.log
.cache-loader
.DS_Store
.git
.gitattributes
.gitignore
.gitlab
.gitlab-ci.yml
.nyc_output
coverage
Dockerfile
flow-typed
#node_modules
npm-debug.log
package-lock.json
scripts
Session.vim
src
yarn-error.log
